@font-face {
font-family: 'Adient Sans';
font-style: normal;
font-weight: 300;

src: url('fonts/Adient/AdientSansWeb-Light.eot');
src: url('fonts/Adient/AdientSansWeb-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/Adient/AdientSansWeb-Light.woff2') format('woff2'),
url('fonts/Adient/AdientSansWeb-Light.woff') format('woff'),
url('fonts/Adient/AdientSansWeb-Light.ttf') format('truetype'),
url('fonts/Adient/AdientSansWeb-Light.svg') format('svg');
}

@font-face {
font-family: 'Adient Sans';
font-style: normal;
font-weight: 400;

src: url('fonts/Adient/AdientSansWeb-Regular.eot');
src: url('fonts/Adient/AdientSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
url('fonts/Adient/AdientSansWeb-Regular.woff2') format('woff2'),
url('fonts/Adient/AdientSansWeb-Regular.woff') format('woff'),
url('fonts/Adient/AdientSansWeb-Regular.ttf') format('truetype'),
url('fonts/Adient/AdientSansWeb-Regular.svg') format('svg');
}


@font-face {
font-family: 'Adient Sans';
font-style: normal;
font-weight: 700;

src: url('fonts/Adient/AdientSansWeb-Bold.eot');
src: url('fonts/Adient/AdientSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/Adient/AdientSansWeb-Bold.woff2') format('woff2'),
url('fonts/Adient/AdientSansWeb-Bold.woff') format('woff'),
url('fonts/Adient/AdientSansWeb-Bold.ttf') format('truetype'),
url('fonts/Adient/AdientSansWeb-Bold.svg') format('svg');
}



@font-face {
font-family: 'Adient Sans Italic';
font-style: italic;
font-weight: 400;

src: url('fonts/Adient/AdientSansWeb-Italic.eot');
src: url('fonts/Adient/AdientSansWeb-Italic.eot?#iefix') format('embedded-opentype'),
url('fonts/Adient/AdientSansWeb-Italic.woff2') format('woff2'),
url('fonts/Adient/AdientSansWeb-Italic.woff') format('woff'),
url('fonts/Adient/AdientSansWeb-Italic.ttf') format('truetype'),
url('fonts/Adient/AdientSansWeb-Italic.svg') format('svg');
}