/* ==========================================================================
   Pageheader
========================================================================== */

//== Default
//-------------------------------------------------------------------------------------------------------------------//
.pageheader {
    background: $ccg-grey;
}

// Check if it is part of a inner layoutgrid
.mx-scrollcontainer .mx-placeholder .mx-layoutgrid .pageheader {
    @include get-responsive-spacing-large($type: margin, $direction: bottom);
    @include get-responsive-spacing-large($type: padding, $direction: bottom);
    background: transparent;
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.pageheader-type {
    margin: 0;
}

.pageheader-title {
    margin: 0;
}

.pageheader-subtitle {
    margin: 0;
}

//== Variations
//-------------------------------------------------------------------------------------------------------------------//
.pageheaderwithcontrols {
    .controlgroup {
    }
}

.pageheaderwithimage {
    .pageheader-image {
    }
    .figurecontent {
    }
}

.pageheaderwithimageandcontrols {
}

.pageheaderwithsearch {
    .pageheader-title {
        margin-bottom: 1em;
    }
}

.pageheaderwithbreadcrumb {
    .breadcrumb {
    }
}


//homepage header
.homepage-header {
    //background-color: $ccg-red;
    background: $ccg-grey;
    background: linear-gradient(153deg, rgba(63,67,73,1) 0%, rgba(34, 36, 39,1) 32%, rgba(28, 30, 32,1) 70%, rgba(49, 61, 78,1) 95%);
    .mx-text {
        color: #fff;
    }
    .mx-text .mx-name-text2 .text-detail {
        color: #fff !important;
        line-height: 1.5em;
    }

    .underline-container {
        border-bottom: 3px solid $ccg-red;
        padding-right: 100px;
        padding-bottom: 25px;
    }

}